/DesafioAnoBiessexto.class
/DesafioDiasSemana.class
/DesafioFor.class
/DesafioJogoAdvinhacao.class
/DesafioLetraPorLetra.class
/DesafioMaiorNumero.class
/DesafioNumero1a10.class
/DesafioNumeroPositivo.class
/DesafioNumeroPrimo.class
/DesafioNumprimoref.class
/DesafioWhile1.class
/Desafioif.class
/Desafionotas.class
/Desafiowhile.class
